/* skip this line */
:root{
    --basic: #aaaaaa; /* for paragraph --*/
    --header: #aaaaaa;
        font-family: 'Times New Roman', Garmond, serif;
        background-color: #1a1b1b;
    }

    h1{
        text-align: center;
        font-size: 50px;
        font-family: fantasy;
    }

    p{
        text-align: center;
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
    }

    div{
        width: 500px;
        height: 500px;
        border: 5px solid #fbfcfc;
        background-color: #aaaaaa;
        border-radius: 5%;
    }
.left{
    float: left;
    
}

.right{
    float: right;

}
    
    